.bannerWrapper {
    width: 100%;
    height: 700px;
}

.bannerWrapper {
    position: relative;
    width: 100%;
    height: 700px;

    margin-top: 0;
}

.bannerImage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    top: 500;
    
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    color: #ffffff;
}

.description {
    margin-top: 16px;
    margin-bottom: 32px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    
    color: #fff;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 12px;
    padding: 12px 88px;
    width: 276px;
    height: 44px;
    background: #3470ff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #0b44cd;
}