.wrapper{
    position: relative;
    list-style: none;
}

.carInfo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 276px;
}

.carImg {
    border-radius: 14px;
    width: 276px;
    height: 268px;
    margin-bottom: 16px;
}

.likeSvg{
    position: absolute;
    top: 16px;
    left: 244px;
}

.title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.span{
    color: #3470ff;
}

.details{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: #8d929a;
}

.parameters{
    margin-bottom: 28px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    color: #fff;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 12px;
    padding: 12px 88px;
    width: 276px;
    height: 44px;
    background: #3470ff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: #0b44cd;
}



