.wrapper {
    position: relative;
}

.control {
    width: 196px;
    height: 44px;
    padding: 12px 16px;
    background: #f7f7f7;
    border-radius: 12px;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    width: 196px;
    height: 188px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #f7f7f7;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    z-index: 10;
    margin-top: 4px;
}

.option {
    padding: 8px 18px;
    cursor: pointer;
    color: #8d929a;
}

.option:hover {
    color: #101828;
}